.courseName {
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: var(--white);
}

.status {
    font-weight: bold;
}

.link {
    color: var(--blue);
    font-weight: bold;
}